<!DOCTYPE html>
<html>
<head>
    <title>Student Support Portal</title>
</head>

<body style="font-family: Arial; text-align:center;">

    <h1>🎓 Student Support Portal</h1>

    <p>
        Welcome to the student support system.
        Access different services below.
    </p>

    <h2>Modules</h2>

    <div style="margin-top:30px;">

        <a href="/lost">
            <button style="padding:10px 20px;">Lost Items 🔍</button>
        </a>

        <br><br>

        <a href="/found">
            <button style="padding:10px 20px;">Found Items 📦</button>
        </a>

        <br><br>

        <a href="/view">
            <button style="padding:10px 20px;">View Lost Items</button>
        </a>

        <br><br>

        <a href="/view_found">
            <button style="padding:10px 20px;">View Found Items</button>
        </a>

    </div>

</body>
</html>